{% extends 'base.html' %}
{% block buttons %}
  {% if user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
      <button class="btn btn-outline-danger my-2 my-sm-0 mr-2 ml-auto" onclick = "btnLogoutClicked()">Logout</button>
  </div>
  {% else %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2 ml-auto" onclick = "btnSignUpClicked()">SignUP</button>
        <button class="btn btn-outline-secondary my-2 my-sm-0 mr-4" onclick = "btnSignInClicked()">Sign In</button>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class = "container mt-4">
      <h2>Welcome {{ user.username }}</h2>
      {% if user.is_staff %}
        <button class="btn btn-outline-warning mb-4 mr-2 ml-auto" onclick = "btnAddQuestion()">Add Question</button>
        {% for q in questions %}
          <li class="list-group-item list-group-item-info">
            {{ q }}
            <div class = container-ml-4>
              <button id = "{{ forloop.counter }}" class="btn btn-warning mt-2 mr-2 ml-auto" onclick="updateQuestion(this.id)">Update</button>
            </div>
          </li>
        {% endfor %}
      {% else %}
        {% for q in questions %}
          <li class="list-group-item list-group-item-info">
            <div class = "container" >
              {{ q.question }}
            </div>
            <div class = "container mb-2">
              <h6> Marks : {{ q.marks }} </h6>
            </div>
          </li>
        {% endfor %}
      {% endif %}
    </div>
  {% else %}
    <div class = "container">
      <h2> HomePage Content</h2>
    </div>
  {% endif %}
{% endblock %}



{% block scripts %}
<script type = "text/javascript" >
  function btnSignUpClicked(){
    location.href = "{% url 'signup' %}";
  }

  function btnSignInClicked(){
    location.href = "{% url 'login' %}";
  }

  function btnLogoutClicked(){
    location.href = "{% url 'logout' %}"
  }

  function btnAddQuestion(){
    location.href = "{% url 'addQuestion' %}"
  }

  function updateQuestion(btnid){
    console.log(btnid);
    location.href  = "update/" + btnid;
  }
</script>
{% endblock %}
