{% extends 'base.html' %}
{% block content %}

    {% if not is_filtered_list %}
        <h2 class="mb-4">To check the answers submitted by these students click on the students...</h2>
    {% endif %}
    <button class="btn btn-outline-primary mb-4 mr-2 ml-auto" onclick="filterBasedOnStudentsAnswered()">Filter Based on Students Answered</button>

    {% if not no_students_found %}
        {% for student in page_obj %}
            <li class="list-group-item list-group-item-action list-group-item-warning mb-1 cursor-pointer" onclick="studentClicked('{{ student.pk }}')">
                {{ student }}
            </li>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            <h4><center><strong> No Students have answered any of the questions yet!!</center></strong></h4>
        </div>
    {% endif %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-4">

        <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link" href="?page=1">&laquo; first</a>
            {% endif %}
        </li>

        <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
        </li>

        <li class="page-item">
            <a class="page-link" href="#">
            Page {{ page_obj.number }}.
            </a>
        </li>
        
        <li class="page-item">
            {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </li>

        <li class="page-item">
            {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </li>
        </ul>
    </nav>
   
{% endblock %}

{% block scripts %}
<script type = "text/javascript">
    function studentClicked(student_clicked){
        location.href = student_clicked + "/";
        console.log(student_clicked);
    }

    function filterBasedOnStudentsAnswered(){
        console.log('filterBasedOnStudentsAnswered')
        location.href = "filter-based-on-students-answered/";
    }
</script>
{% endblock %}

{% block styles %}
<style>
    .cursor-pointer{
        cursor: pointer;
    }
</style>
{% endblock %}
